<h1>All Pins</h1>

<br>
<%if user_signed_in? %>
<%= link_to '+ New Pin', new_pin_path %>
<% end %>
<br>

<div class="row">

      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
      <div class="caption">
  
    <% @pins.each do |pin| %>
        
            <%= image_tag pin.image.url (:medium) %>
        <h3><%= pin.description %></h3>
        <h4><%= pin.user.email if pin.user %></h4>
        <%= link_to 'Show', pin %>
        <% if pin.user == current_user %>
          <%= link_to 'Edit', edit_pin_path(pin) %>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>
  </div>
  </div>
  </div>
  </div>

